In [2]:
import pandas as pd

In [3]:
# Upload cleaned dataset

all_deaths_ok = pd.read_csv("../data/output/all-deaths_by-county-sex-race_oklahoma_2010-2023.csv")
# Visualuze
all_deaths_ok.groupby(['year','county','sex','race']).sum().head(60)

                                                               deaths
year county  sex    race
2010 Adair   Female American Indian or Alaska Native              0.0
                    Asian                                         0.0
                    Black or African American                     0.0
                    More than one race                            0.0
                    Native Hawaiian or Other Pacific Islander     0.0
                    Other                                         0.0
                    Unknown                                       0.0
                    White                                         0.0
             Male   American Indian or Alaska Native             12.0
                    Asian                                         0.0
                    Black or African American                     0.0
                    More than one race                            0.0
                    Native Hawaiian or Other Pacific Islander     0.0
                    Other                                         0.0
                    Unknown                                       0.0
                    White                                         7.0
     Alfalfa Female American Indian or Alaska Native              0.0
                    Asian                                         0.0
                    Black or African American                     0.0
                    More than one race                            0.0
                    Native Hawaiian or Other Pacific Islander     0.0
                    Other                                         0.0
                    Unknown                                       0.0
                    White                                         0.0
             Male   American Indian or Alaska Native              0.0
                    Asian                                         0.0
                    Black or African American                     0.0
                    More than one race                            0.0
                    Native Hawaiian or Other Pacific Islander     0.0
                    Other                                         0.0
                    Unknown                                       0.0
                    White                                         5.0
     Atoka   Female American Indian or Alaska Native              0.0
                    Asian                                         0.0
                    Black or African American                     0.0
                    More than one race                            0.0
                    Native Hawaiian or Other Pacific Islander     0.0
                    Other                                         0.0
                    Unknown                                       0.0
                    White                                         0.0
             Male   American Indian or Alaska Native              0.0
                    Asian                                         0.0
                    Black or African American                     0.0
                    More than one race                            0.0
                    Native Hawaiian or Other Pacific Islander     0.0
                    Other                                         0.0
                    Unknown                                       0.0
                    White                                         5.0
     Beaver  Female American Indian or Alaska Native              0.0
                    Asian                                         0.0
                    Black or African American                     0.0
                    More than one race                            0.0
                    Native Hawaiian or Other Pacific Islander     0.0
                    Other                                         0.0
                    Unknown                                       0.0
                    White                                         0.0
             Male   American Indian or Alaska Native              0.0
                    Asian                                         0.0
                    Black or African American                     0.0
                    More than one race                            0.0

In [4]:
all_deaths_ok[['year','sex','deaths']].groupby(['year','sex']).sum()#.reset_index()

             deaths
year sex
2010 Female  1008.0
     Male    2067.0
2011 Female  1083.0
     Male    2010.0
2012 Female  1094.0
     Male    1999.0
2013 Female  1097.0
     Male    2021.0
2014 Female  1105.0
     Male    1880.0
2015 Female  1103.0
     Male    2021.0
2016 Female  1155.0
     Male    2156.0
2017 Female  1125.0
     Male    1998.0
2018 Female   999.0
     Male    2027.0
2019 Female  1020.0
     Male    2004.0
2020 Female  1204.0
     Male    2395.0
2021 Female  1558.0
     Male    2948.0
2022 Female  1335.0
     Male    2616.0
2023 Female  1224.0
     Male    2440.0