In [ ]:
import pandas as pd
import re
import numpy as np
import statsmodels.formula.api as smf
path_dist   = r"/Users/sanyakhan/oklahoma_gendered_mortality/data/input/abortion_distance_raw.csv"
path_births = r"/Users/sanyakhan/oklahoma_gendered_mortality/data/input/oklahoma_births-by-county_by-race_2010-2024.csv"

dist_raw   = pd.read_csv(path_dist)
births_raw = pd.read_csv(path_births)

In [2]:
births_raw.head(30)

,Search Characteristic,Values Selected,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Year 2010,NaN,NaN,NaN,NaN
1,NaN,NaN,Births,Population,Birth Rate
2,County of Residence,Mother's Race,NaN,NaN,NaN
3,UNKNOWN,White,18,.,.
4,NaN,Black or African American,.,.,.
5,NaN,American Indian or Alaska Native,.,.,.
6,NaN,Unknown,.,.,.
7,Adair,White,63,10038,6.3
8,NaN,Black or African American,.,69,.
9,NaN,American Indian or Alaska Native,169,10210,16.6
10,NaN,Asian,.,136,.
11,NaN,Other,.,.,.
12,NaN,Unknown,131,.,.
13,NaN,More than one race,5,2306,2.2
14,Alfalfa,White,42,5101,8.2
15,NaN,American Indian or Alaska Native,.,174,.
16,NaN,Other,.,.,.
17,NaN,More than one race,.,102,.
18,Atoka,White,123,10596,11.6
19,NaN,Black or African American,7,521,13.4
20,NaN,American Indian or Alaska Native,37,2030,18.2
21,NaN,More than one race,.,1006,.
22,Beaver,White,63,5369,11.7
23,NaN,Black or African American,.,45,.
24,NaN,Other,.,.,.
25,Beckham,White,297,19749,15.0
26,NaN,Black or African American,7,902,7.8
27,NaN,American Indian or Alaska Native,13,682,19.1
28,NaN,Asian,.,204,.
29,NaN,Other,.,.,.

In [3]:
dist = dist_raw.copy()
# Option A: use the state column
ok = dist[dist["origin_state"] == "OK"].copy()
ok["county"] = (
    ok["origin_county_name"]
        .str.replace(r"\s*\(.*\)", "", regex=True)
        .str.replace(" County", "", regex=False)    
        .str.strip()
)
dist_df = ok[['year','month',"origin_fips_code", "county", "origin_state", "origin_population", 'distance_origintodest']]

dist_df

,year,month,origin_fips_code,county,origin_state,origin_population,distance_origintodest
426200,2010,8,40001,Adair,OK,4285.0,44.282017
426201,2010,9,40001,Adair,OK,4285.0,44.282017
426202,2010,10,40001,Adair,OK,4285.0,44.282017
426203,2010,11,40001,Adair,OK,4285.0,44.282017
426204,2010,12,40001,Adair,OK,4285.0,44.282017
...,...,...,...,...,...,...,...
441595,2018,1,40153,Woodward,OK,3669.0,141.880800
441596,2018,2,40153,Woodward,OK,3669.0,141.880800
441597,2018,3,40153,Woodward,OK,3669.0,141.880800
441598,2018,4,40153,Woodward,OK,3669.0,141.880800
441599,2018,5,40153,Woodward,OK,3669.0,141.880800

In [4]:
import pandas as pd
import numpy as np

df = births_raw.copy()
df.columns = ["col0", "col1", "col2", "col3", "col4"]
is_year_row = df["col0"].astype(str).str.contains("Year", na=False)

df.loc[is_year_row, "year"] = (
    df.loc[is_year_row, "col0"]
      .astype(str)
      .str.extract(r"(\d{4})")[0]
      .astype("Int64")
)
df["year"] = df["year"].ffill()
df = df[df["year"].notna()].copy()
df = df[~df["col1"].eq("Mother's Race")].copy()
df = df[~is_year_row].copy()

df["county"] = df["col0"].where(df["col0"].notna()).ffill()

county_filter = (
    df["county"].fillna("").str.fullmatch("Unknown", case=False) |
    df["county"].fillna("").str.contains("UNKNOWN COUNTY", case=False)
)
df = df[~county_filter].copy()
df["race"] = df["col1"]

for c in ["col2", "col3", "col4"]:
    df[c] = pd.to_numeric(df[c].replace(".", np.nan), errors="coerce")

df = df.rename(columns={
    "col2": "births",
    "col3": "population",
    "col4": "birth_rate",
})
valid = df["births"].notna() | df["population"].notna()
df = df[valid].copy()

df.loc[df["births"].isna() & df["population"].notna(), "births"] = 0

needs_rate = df["birth_rate"].isna() & df["population"].gt(0)
df.loc[needs_rate, "birth_rate"] = (
    df.loc[needs_rate, "births"] / df.loc[needs_rate, "population"] * 1000
)
births_df = df[["year", "county", "race", "births", "population", "birth_rate"]].reset_index(drop=True)
births_df.head(40)

/var/folders/m_/y8pl7q8n0kgg5_f27n0x6vpm0000gn/T/ipykernel_63843/3958812945.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[~is_year_row].copy()

,year,county,race,births,population,birth_rate
0,2010,Adair,White,63.0,10038.0,6.3
1,2010,Adair,Black or African American,0.0,69.0,0.0
2,2010,Adair,American Indian or Alaska Native,169.0,10210.0,16.6
3,2010,Adair,Asian,0.0,136.0,0.0
4,2010,Adair,Unknown,131.0,NaN,NaN
5,2010,Adair,More than one race,5.0,2306.0,2.2
6,2010,Alfalfa,White,42.0,5101.0,8.2
7,2010,Alfalfa,American Indian or Alaska Native,0.0,174.0,0.0
8,2010,Alfalfa,More than one race,0.0,102.0,0.0
9,2010,Atoka,White,123.0,10596.0,11.6
10,2010,Atoka,Black or African American,7.0,521.0,13.4
11,2010,Atoka,American Indian or Alaska Native,37.0,2030.0,18.2
12,2010,Atoka,More than one race,0.0,1006.0,0.0
13,2010,Beaver,White,63.0,5369.0,11.7
14,2010,Beaver,Black or African American,0.0,45.0,0.0
15,2010,Beckham,White,297.0,19749.0,15.0
16,2010,Beckham,Black or African American,7.0,902.0,7.8
17,2010,Beckham,American Indian or Alaska Native,13.0,682.0,19.1
18,2010,Beckham,Asian,0.0,204.0,0.0
19,2010,Beckham,More than one race,9.0,517.0,17.4
20,2010,Blaine,White,106.0,8188.0,12.9
21,2010,Blaine,Black or African American,0.0,310.0,0.0
22,2010,Blaine,American Indian or Alaska Native,26.0,997.0,26.1
23,2010,Blaine,Other,7.0,NaN,NaN
24,2010,Blaine,More than one race,12.0,387.0,31.0
25,2010,Bryan,White,450.0,33029.0,13.6
26,2010,Bryan,Black or African American,9.0,678.0,13.3
27,2010,Bryan,American Indian or Alaska Native,126.0,5665.0,22.2
28,2010,Bryan,Asian,0.0,225.0,0.0
29,2010,Bryan,Other,10.0,NaN,NaN
30,2010,Bryan,More than one race,12.0,2970.0,4.0
31,2010,Caddo,White,233.0,19446.0,12.0
32,2010,Caddo,Black or African American,9.0,835.0,10.8
33,2010,Caddo,American Indian or Alaska Native,170.0,7603.0,22.4
34,2010,Caddo,Other,17.0,NaN,NaN
35,2010,Caddo,More than one race,32.0,1736.0,18.4
36,2010,Canadian,White,1272.0,99483.0,12.8
37,2010,Canadian,Black or African American,33.0,3077.0,10.7
38,2010,Canadian,American Indian or Alaska Native,96.0,5838.0,16.4
39,2010,Canadian,Asian,46.0,3562.0,12.9

In [5]:
births_df["county"] = births_df["county"].str.strip().str.lower()
dist_df["county"] = dist_df["county"].str.strip().str.lower()

/var/folders/m_/y8pl7q8n0kgg5_f27n0x6vpm0000gn/T/ipykernel_63843/168091081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dist_df["county"] = dist_df["county"].str.strip().str.lower()

In [6]:

dist_year = (
    dist_df
    .groupby(["year", "county"], as_index=False)
    .agg({
        "distance_origintodest": "mean",  
        "origin_fips_code": "first",      
        "origin_state": "first",
        "origin_population": "first"      
    })
)

dist_year.rename(
    columns={
        "distance_origintodest": "dist_mean",
        "origin_population": "county_pop_dist"
    },
    inplace=True
)

births_merged = births_df.merge(
    dist_year[["year", "county", "origin_fips_code", "dist_mean"]],
    on=["year", "county"],
    how="left"
)

births_merged.head(20)

,year,county,race,births,population,birth_rate,origin_fips_code,dist_mean
0,2010,adair,White,63.0,10038.0,6.3,40001,41.352927
1,2010,adair,Black or African American,0.0,69.0,0.0,40001,41.352927
2,2010,adair,American Indian or Alaska Native,169.0,10210.0,16.6,40001,41.352927
3,2010,adair,Asian,0.0,136.0,0.0,40001,41.352927
4,2010,adair,Unknown,131.0,NaN,NaN,40001,41.352927
5,2010,adair,More than one race,5.0,2306.0,2.2,40001,41.352927
6,2010,alfalfa,White,42.0,5101.0,8.2,40003,117.173210
7,2010,alfalfa,American Indian or Alaska Native,0.0,174.0,0.0,40003,117.173210
8,2010,alfalfa,More than one race,0.0,102.0,0.0,40003,117.173210
9,2010,atoka,White,123.0,10596.0,11.6,40005,116.996120
10,2010,atoka,Black or African American,7.0,521.0,13.4,40005,116.996120
11,2010,atoka,American Indian or Alaska Native,37.0,2030.0,18.2,40005,116.996120
12,2010,atoka,More than one race,0.0,1006.0,0.0,40005,116.996120
13,2010,beaver,White,63.0,5369.0,11.7,40007,230.243500
14,2010,beaver,Black or African American,0.0,45.0,0.0,40007,230.243500
15,2010,beckham,White,297.0,19749.0,15.0,40009,122.553670
16,2010,beckham,Black or African American,7.0,902.0,7.8,40009,122.553670
17,2010,beckham,American Indian or Alaska Native,13.0,682.0,19.1,40009,122.553670
18,2010,beckham,Asian,0.0,204.0,0.0,40009,122.553670
19,2010,beckham,More than one race,9.0,517.0,17.4,40009,122.553670

In [7]:
county_year = (
    births_df
    .groupby(["year", "county"], as_index=False)
    .agg({
        "births": "sum",
        "population": "sum"
    })
)
county_year["birth_rate"] = (county_year["births"] / county_year["population"]) * 1000
county_year["county"] = county_year["county"].str.strip().str.lower()
dist_year["county"]    = dist_year["county"].str.strip().str.lower()
final_df = county_year.merge(
    dist_year[["year", "county", "dist_mean", "origin_fips_code"]],
    on=["year", "county"],
    how="left"
)

final_df["post_ban"] = (final_df["year"] >= 2022).astype(int)

final_df

,year,county,births,population,birth_rate,dist_mean,origin_fips_code,post_ban
0,2010,adair,368.0,22759.0,16.169427,41.352927,40001,0
1,2010,alfalfa,42.0,5377.0,7.811047,117.173210,40003,0
2,2010,atoka,167.0,14153.0,11.799618,116.996120,40005,0
3,2010,beaver,63.0,5414.0,11.636498,230.243500,40007,0
4,2010,beckham,326.0,22054.0,14.781899,122.553670,40009,0
...,...,...,...,...,...,...,...,...
1150,2024,wagoner,929.0,91257.0,10.180041,179.042720,40145,1
1151,2024,washington,580.0,54016.0,10.737559,130.514463,40147,1
1152,2024,washita,115.0,10758.0,10.689719,264.817230,40149,1
1153,2024,woods,59.0,8291.0,7.116150,138.861540,40151,1
1154,2024,woodward,228.0,19970.0,11.417126,209.295210,40153,1

In [8]:
import statsmodels.formula.api as smf

reg_df = final_df.dropna(subset=["birth_rate", "dist_mean"]).copy()
reg_df["post_ban"] = (reg_df["year"] >= 2022).astype("int64")
reg_df["year_cat"] = reg_df["year"].astype(str)
reg_df["dist_mean"] = reg_df["dist_mean"].astype("float64")
reg_df["birth_rate"] = reg_df["birth_rate"].astype("float64")

In [9]:
model_pp = smf.ols(
    "birth_rate ~ dist_mean * post_ban",
    data=reg_df
).fit(cov_type="HC3")

print(model_pp.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             birth_rate   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     24.43
Date:                Tue, 02 Dec 2025   Prob (F-statistic):           2.51e-15
Time:                        12:47:34   Log-Likelihood:                -2373.8
No. Observations:                1155   AIC:                             4756.
Df Residuals:                    1151   BIC:                             4776.
Df Model:                           3
Covariance Type:                  HC3
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             11.9790      0.137     87.256      0.000      11.710      12.248
dist_mean              0.0009      0.002      0.593      0.553      -0.002       0.004
post_ban              -1.9800      0.401     -4.943      0.000      -2.765      -1.195
dist_mean:post_ban     0.0043      0.002      1.799      0.072      -0.000       0.009
==============================================================================
Omnibus:                       17.991   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.474
Skew:                           0.291   Prob(JB):                     9.73e-05
Kurtosis:                       3.210   Cond. No.                     1.20e+03
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)
[2] The condition number is large, 1.2e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [10]:
import statsmodels.formula.api as smf

reg_df = final_df.dropna(subset=["birth_rate"]).copy()

reg_df["post_ban"] = (reg_df["year"] >= 2022).astype(int)

model_simple = smf.ols(
    formula="birth_rate ~ post_ban",
    data=reg_df
).fit(cov_type="HC3")

print(model_simple.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             birth_rate   R-squared:                       0.042
Model:                            OLS   Adj. R-squared:                  0.041
Method:                 Least Squares   F-statistic:                     59.76
Date:                Tue, 02 Dec 2025   Prob (F-statistic):           2.32e-14
Time:                        12:47:34   Log-Likelihood:                -2377.8
No. Observations:                1155   AIC:                             4760.
Df Residuals:                    1153   BIC:                             4770.
Df Model:                           1
Covariance Type:                  HC3
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     12.0634      0.064    188.304      0.000      11.938      12.189
post_ban      -0.9929      0.128     -7.730      0.000      -1.245      -0.741
==============================================================================
Omnibus:                       21.958   Durbin-Watson:                   2.045
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.852
Skew:                           0.322   Prob(JB):                     1.09e-05
Kurtosis:                       3.245   Cond. No.                         2.62
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)

In [11]:
missing_in_dist = (
    births_df[["year", "county"]]
    .drop_duplicates()
    .merge(dist_year[["year", "county"]], on=["year", "county"], how="left", indicator=True)
)

missing_in_dist[missing_in_dist["_merge"] == "left_only"]

Empty DataFrame
Columns: [year, county, _merge]
Index: []

In [12]:
formula = "birth_rate ~ dist_mean * post_ban + C(county_fips) + C(year)"

model_fe = smf.ols(
    formula=formula,
    data=reg_df
).fit(
    cov_type="cluster",
    cov_kwds={"groups": reg_df["county_fips"]}
)

print(model_fe.summary())

TypeError: Cannot interpret 'Int64Dtype()' as a data type